
body{
text-align: center;
}
button{
  margin:5px;
}
div{
  padding:0;
}
.btn{
  


  height: 36px;
  font-size: 18px;
  width:118.79px;

  border-left: 0;
  border-right: 0;

}
.btin{



  height: 36px;
  font-size: 18px;
  width:118.79px;

  border-left: 0;
  border-right: 0;
}
.btout{


  height: 36px;
  font-size: 18px;
  width:118.79px;

  border-left: 0;
  border-right: 0;
}
.screen{
  width:486.12px;
  background-color: lightgray;
  height: 48px;
  font-size: 20px;
  border-style: solid;
  display: inline-block;
}
.container{
  padding: 50px;
  text-align: center;
}
